.collapsible-header.blue-text.text-lighten-2 #{__('t.q2.heading')}
.collapsible-body.white.padding-all-m
	span #{__('t.q2.p1')}
	br
	br
	span
		| #{__('t.q2.p2')} 
		a.green-text(href='/clean') #{__('t.order_now')}
