.collapsible-header #{__('t.q5.heading')}
.collapsible-body.white.padding-all-m
	span #{__('t.q5.p1')}
	br
	br
	ul
		li
			| Email: 
			a(href='mailto:help@getshiny.ru') help@getshiny.ru
		li
			| Telephone: 
			a(href='tel:+79168484427"') +7 (916) 848-44-27
