.blue-text.text-lighten-2.collapsible-header #{__('t.q9.heading')}
.collapsible-body.white.padding-all-m
	| #{__('t.q9.p1')}
	br
	br
	ul
		li
			| Email: 
			a.green-text(href='mailto:help@getshiny.ru') help@getshiny.ru
		li
			| Telephone: 
			a.green-text(href='tel:+79263911284"') +7 (926) 391-12-84
