.navbar-fixed
  nav.white
    .nav-wrapper
      a.brand-logo(href='/')
        img.responsive-img(src='images/shiny.png')
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.btn-flat.blue.lighten-2.white-text(href='/order') #{i18n('nav.order')} 
        li
          a.blue-text.text-lighten-2.uppercase(href='/how') #{__('nav.how')} 
        li
          a.btn-flat.green.lighten-2.white-text(href='/signin') #{__('nav.sign_in')} 
        li
          a.grey-text.text-darken-2.uppercase.lang(lang='en') en
        li
          a.grey-text.text-darken-2.uppercase.lang(lang='ru') ru
