extends layout

block content
  .hero-home.valign-wrapper
    .container.valign
      .row
        .col.s12.center-align
          h2.blue-text.text-lighten-2 #{__('t.marketing_front')}
      .row
        .col.m6.push-m3.s12.center-align
          a.btn-wide.btn-large.btn-flat.green.lighten-2.white-text(href='/clean') #{__('t.order_now')}
