extends layout

block content
  .hero-launch.valign-wrapper
    .valign.center-align.centered
      img.responsive-img(src='images/shiny-grey.png' width=200)
      h3.flow-text
        | COMING SOON
        br
        small Moscow, Russia
