doctype html
head
  title Shiny - #{__('t.slogan')}
  // Viewport mobile tag for sensible mobile support
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(property='og:image' content='/images/opengraph0.png')
  meta(property='og:image' content='/images/opengraph1.png')
  meta(property='og:url' content='https://www.getshiny.ru')
  meta(property='og:title' content="Shiny - #{__('t.slogan')}")
  meta(property='og:description' content='Уборка квартир в Москве / Apartment cleaning services in Moscow')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  // STYLES
  link(rel="stylesheet", href="/styles/materialize.css")
  link(rel="stylesheet", href="/styles/importer.css")
  link(rel="stylesheet", href="/styles/materialize.clockpicker.css")
  // STYLES END
  <!--STYLES-->
  <!--STYLES END-->
body(class="#{body_class}")
  include partials/_nav

  block content
  
  include partials/_footer

  script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
  // SCRIPTS
  script(src="/js/dependencies/angular.js")
  script(src="/js/dependencies/materialize.js")
  script(src="/js/dependencies/angular-animate.js")
  script(src="/js/dependencies/angular-cookies.js")
  script(src="/js/dependencies/angular-translate.js")
  script(src="/js/dependencies/datetime.js")
  script(src="/js/dependencies/js.cookie.js")
  script(src="/js/dependencies/later.js")
  script(src="/js/dependencies/materialize.clockpicker.js")
  script(src="/js/dependencies/materialize.min.js")
  script(src="/js/dependencies/moment.js")
  script(src="/js/app.js")
  script(src="/js/auth.js")
  script(src="/js/cart.js")
  script(src="/js/general.js")
  script(src="/js/lang.js")
  script(src="/js/product.js")
  script(src="/js/statusCtrl.js")
  script(src="/js/store.js")
  script(src="/js/storeCtrl.js")
  // SCRIPTS END
