.container
  ul.tabs.blue-text.text-lighten-2
    li.tab.col.s3
      a.blue-text.text-lighten-2(href='#tab1', ng-click="next('tab1', false)") #{__('home')}
    li.tab.col.s3
      a.blue-text.text-lighten-2(href='#tab2', ng-click="next('tab2', false)") #{__('when')}
    li.tab.col.s3
      a.blue-text.text-lighten-2(href='#tab3', ng-click="next('tab3', false)") #{__('where')}
    li.tab.col.s3
      a.blue-text.text-lighten-2(href='#tab4', ng-click="next('tab4', false)") #{__('payment')}
  #tab1.col.s12.tab-content.white
    include _tab1
  #tab2.col.s12.tab-content.white
    include _tab2
