body {
  background-color: #f8f8f8;
}

.full-height {
  min-height: 100vh;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.outline {
  border: 1px #e0e0e0 solid !important;
}


.collapsible, .collapsible-header, .collapsible-body {
  border: none;
  box-shadow: none;
}

.collapsible > li {
  border-bottom: 1px #e0e0e0 solid !important;
}

.collapsible-body ul {
  padding-left: 1rem;
}

.collapsible-body {
  padding-top: 0px;
  padding-right: 1rem;
  padding-bottom: 0px;
  padding-left: 1rem;
}

.terms {
  padding: 2rem !important;
  color: #595959 !important;
}

.margin-top {
  margin-top: 20px;
}

.padding {
  padding: 20px
}
