.hero {
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  height: ~"calc(100vh - @{navbar-height-mobile})";

  @media @medium-and-up {
    height: ~"calc(100vh - @{navbar-height})";
  }
}

.hero-home {
  .hero;
  background: url(/images/hero-home.jpg) no-repeat center center fixed
}

.hero-auth {
  .hero;
  background: url(/images/hero-auth.jpg) no-repeat center center fixed
}
